/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  background-color: #555;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

#about .content,
#attractions .content,
#contact .content {
  background-color: #f9f9f9;
  padding: 20px;
}

#about h2,
#attractions h2,
#contact h2 {
  margin-top: 0;
}


